@import "tailwindcss";

:root {
  --background: #f4f6f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f4f6f1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1.00rem, calc(0.952rem + 0.238vw), 1.25rem);

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  h1 {
    font-size: clamp(1.80rem, calc(1.714rem + 0.429vw), 2.25rem);
  }

  h2 {
    font-size: clamp(2.00rem, calc(1.62rem + 1.88vw), 2.89rem);
  }

  .label {
    text-transform: uppercase;
    font-size: clamp(.5rem, calc(0.752rem + 0.238vw), 1.25rem);
  }

  .nav-button {
    width: clamp(1rem, 15vw, 6rem);
    height: clamp(1rem, 15vw, 6rem);
  }

  .card-component {
    width: clamp(18.75rem, 50vw, 37.5rem);
  }
}
